
    @media (max-width: 918px ) {
      * {
        max-width: 900px;
      }
    body {
      font-size: 18px;
    }
    header {
        width: 926px;
        padding-top: 30px;
        padding-bottom: 71px;
    }
    .container {
       width: 896px;
    }
    .social-media {
        float: right;
        padding: 103px 146px 11px 4px;
        word-spacing: 50px;
    }
    .projects a img {
        max-width: 774px;
    }


  }
  

  
  @media (max-width: 400px ) {
    * {
      max-width: 420px;
    }
    body {
      font-size: 20px;
    }
    header {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 86px;
        padding-right: 8px;
    }
    .container {
       width: 100%;
    }
    .social-media {
        float: right;
        padding: 75px 151px 31px 4px;
        word-spacing: 50px;
    }
    .projects a img {
        max-width: 339px;
    }

    .header-list{
      float: right;
      margin-right: 27px;
      margin-top: -105px
    }
    }

  

  